* @carlosmartinezfyd

/.github/ @carlosmartinezfyd
/src/flatshot/core/ @carlosmartinezfyd
/src/flatshot/application/ @carlosmartinezfyd
/src/flatshot/bridge/ @carlosmartinezfyd
/scripts/portable/ @carlosmartinezfyd
