* @Carlos-Martinez-Martinez

/.github/ @Carlos-Martinez-Martinez
/src/flatshot/core/ @Carlos-Martinez-Martinez
/src/flatshot/application/ @Carlos-Martinez-Martinez
/src/flatshot/bridge/ @Carlos-Martinez-Martinez
/scripts/portable/ @Carlos-Martinez-Martinez
